<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
   
      <div th:fragment="footer">
           
          <img src="/images/footer.png" width="100%">
          <div class="footer-copyright text-center py-3 mt-3">
			<div class="container-fluid">
				<Strong><i class="fas fa-heart  "></i>
					ThucSkin(Fpoly) &copy;2022.All rights reserved.</Strong>
			</div>
		</div>
          
      </div>
  
</body>